/* Change background color of webpage */
body {
    background-color: rgb(255, 204, 222);
    width: 100vw;
    height: 100vh;
}
  

/* Company name */
/* This is an example of element selector */
h1 {
    min-width: auto;
    /* Change the border design of h1 */
    border: 0.3rem solid;
    border-style: groove;
    border-color: navy;
    border-width: 0.5cm;
    border-radius: 30px;
    background-color: lightblue;

    /* Add padding for the text inside the border */
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 30px;

    /* Change the font size, color and shadow of h1 */ 
    font-size: 5rem;
    color: hsl(39, 100%, 50%);
    text-shadow: 0 0 3px #0a0a0a, 0 0 8px #0000FF;

    /* Change the margin of h1 */
    margin-left: 200px;
    margin-right: 160px;
    margin-bottom: 10px;

    /* Static position */
    position: relative;
}

/* Title of website: "Meeting Minutes" */
/* This is an  example of adjacent sibling combinator */
/* Change the size and margin of h2 right after h1 */
h1 + h2 {
    /* Changing the color and margin of the heading h2 */
    font-size: 3em;
    margin: 0px 200px 0px 470px;
}

/* Change font size and color of survey questions */
/* This is an example of universal selector */
h3 * {
    font-weight: bold;
    color: hsl(39, 100%, 50%);
    text-shadow: 0 0 3px #0a0a0a, 0 0 8px #0000FF;
}

/* Opening, Absent members, What we discussed, Summary, TODO */
h4{
    font-size: 25px;
    color: navy;
    margin:auto;
    text-decoration: navy underline;
}

h6{
    text-align: center;
    font-size: x-large;
}

/* Bullet points in table of content */
nav{
    position: static;
    margin-left: 520px;
}

/* Change the border design of all images in the website */
img{
    border: solid navy;
    border-width: 0.5mm;
}

/* Table of contents */
header{
    font-size: 3ch;
    text-align: center;
    font-weight: bold;
    margin:0px;

}

/* Change the alignment of the date */
#Date{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: navy;
}

/* This is an example of id selector */
#Summary{
    padding: 12px 0px;
}

#display_example1{
    text-align: justify;
    display: inline;
}

#display_example2{
    display: block;
}

#paragraph{
    text-align: justify;
}

/* Change the design of the title of the survey form */
#form-title{
    color: purple;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

/* Make the form have a different background color to differentiate from meeting minutes */
#form{
    background-color: #d6bfdf;
}

#textarea{
    text-align: center;
}

/* Change the design of the thank you statement at the end of form */
#thank-you{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: hsl(39, 100%, 50%);
    text-shadow: 0 0 3px #0a0a0a, 0 0 8px #0000FF;
    padding: 10px;
}

/* This is an example of pseudo-class selectors */
a:link{
    color: rgb(4, 4, 255);
    font-size: large;
}

a:visited{
    color: green;
}

a:hover{
    color: red;
}

a:active{
    color: purple;
}

/* This is an example of both flexbox and class selector */
.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightskyblue;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* This is an example of combining 2 selectors (element.class) */
/* This is used to change the format of the text under 3 images of K-Pop groups */
div.text{
    font-family: 'Lora', serif;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/* This is an example of grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250px [col-start]);
    grid-gap: 20px;      /* center dividing lines */
    background-color: lightskyblue;;
    padding: 20px;       /* border/outer lines */
    justify-content: space-evenly;
    width:auto;
}

/* This is an example of child combinator */
/* I am changing the design of all the items (i.e songs) in a grid */
.grid-container > div {
    font-family: 'Lora', serif;
    background-color: rgb(255, 204, 222);    /* sets opacity of black color */
    text-align: center;
    padding: 15px;
    color: navy;
    border: solid navy;
    border-width: 0.5mm;
    border-radius: 15px;
}

.song1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

/* This is an example of media query */
@media only screen and (max-width: 500px) {
    body {
      background-color: black;
    }
}

/* Size of link for Black Suit - Super Junior */
/* This is an example of attributes selector */
a[href="https://www.youtube.com/watch?v=MvqB6JsRbsc"]{
    font-size: 15px;
}

/* Size of link for Ping Pong - HyunA & DAWN */
a[href="https://www.youtube.com/watch?v=0aaeUI1ucfQ"]{
    font-size: 15px;
}

/* Size of link for You Calling My Name - GOT7 */
a[href="https://www.youtube.com/watch?v=xQI9oZEY-B0"]{
    font-size: 15px;
}

/* Size of link for Gee - Girls' Generation */
a[href="https://www.youtube.com/watch?v=U7mPqycQ0tQ"]{
    font-size: 15px;
}

/* Size of link for Queendom - Red Velvet */
a[href="https://www.youtube.com/watch?v=c9RzZpV460k"]{
    font-size: 15px;
}

/* Size of link for Likey - Twice */
a[href="https://www.youtube.com/watch?v=V2hlQkVJZhE"]{
    font-size: 15px;
}

/* Size of link for DIngga - Mamamoo */
a[href="https://www.youtube.com/watch?v=LzmdGtzby2s"]{
    font-size: 15px;
}

/* Size of link for Daisy - Pentagon */
a[href="https://www.youtube.com/watch?v=W7ZIz4w9Edo"]{
    font-size: 15px;
}

/* The font of the section title in the meeting minutes and the thank you statement 
will be the same. This is an example of selector list */
h4, #thank-you{
    font-family: 'Lora', serif;
}

/* This is an example of descendant combinator */
/* This is used to change the size of each list item in the "What we discussed" section */
ol li {
    font-size: large;
}

/* This is an example of general sibling selector */
/* This is used to increase the size of the multiple choice answers in the survey form */
p ~ div{
    font-size: 18px;
}

ul.drop_down_options{

}